:root {
    --dark: #212529;
}
.info-card {
    background-color: var(--dark);
    color: white;
    margin: 10px;
}

#currentCity , #fiveDay {
    border-bottom: 2px solid var(--dark);
    padding-bottom: 10px;
}

#history {
    padding-left: 0px;
}